[submodule "Zengine/vendor/spdlog"]
	path = Zengine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Zengine/vendor/glfw"]
	path = Zengine/vendor/glfw
	url = https://github.com/glfw/glfw.git
